@media (min-width: 657px) and (max-width: 846px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "sidebar"
    "nav"
    "content"
    "full-width"
    "footer"
  }

  .main-header {
    text-align: center;
    margin-bottom: 0;
  }
  .main-nav {
    width: 80%;
    margin: 30px auto;
  }
  .side {
    text-align: center;
    justify-self: center;
  }
  .content {
    width: 80%;
    margin: auto;
  }
  footer p {
    display: block;
    text-align: center;
    margin-right: 0;
  }
  .main-footer {
    text-align: center;
  }
  footer .bottom-nav {
    margin: 10px 0 48px 0;
  }
}

@media (max-width: 657px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "sidebar"
    "nav"
    "content"
    "full-width"
    "footer"
  }

  .main-header {
    text-align: center;
    margin-bottom: 0;
  }

  .selected {
    border-bottom: none;
  }

  nav ul {
    display: block;
    width: 100%;
    text-align: center;
    li {
      display: block;
      margin-bottom: 30px;
    }

  }

  .main-nav li {
    &:first-child {
      margin-right: 0;
    }
    &:last-child {
      margin-left: 0;
    }
  }


  .main-nav {
    width: 90%;
    margin: 30px auto;
  }
  .side {
    text-align: center;
   justify-self: center;
  }
  .content {
    width: 90%;
    margin: auto;
  }

  .landscape {
    width: 90%;
  }

  footer p {
    display: block;
    text-align: center;
    margin-right: 0;
  }
  .main-footer {
    text-align: center;
  }
  footer .bottom-nav {
    margin: 10px 0 48px 0;
  }


}
