$font-stack: 'Soleil', Helvetica, sans-serif;
$font-size: 20px;
$left-width: 230px;
$line-height: 28px;
$link-color: #0e612e;
// $link-color: #b72b16;
$underline: solid 2px $link-color;

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font: 100% $font-stack;
    font-size: $font-size;
    background: #FAFCFB;
    margin: 0 auto;
}

// NO grid

@supports not (display: grid) {
  .main-header {
    display: block;
    float: left;
  }
  .main-nav {
    margin-left: 50px;
  }


  .side {
    clear: both;
    width: 230px;
    text-align: right;
    float: left;
    overflow: hidden;
  }

  .content {
    float: left;
    display: block;
    text-align: left;
    margin-left: 50px;
    width: auto;
  }
  .landscape {
    clear: both;
  }
  .border {
    clear:both;
    margin-top: 30px;
  }
  // bookshelf
  ul.bookshelf {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0 auto;
  }

  .bookshelf {
     li {
       margin: auto;
       display: inline;
     }
     img {
       width: 10.7%;
     }
  }
}


// grid properties

.main-header {
  grid-area: header;
}

.main-nav {
  grid-area: nav;
}

.content {
  grid-area: content;
}

.side {
  grid-area: sidebar;
}

.main-footer {
  grid-area: footer;
}

.landscape {
  grid-area: full-width;
}

.wrapper {
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 50px;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "sidebar"
    "footer"
    "full-width"
}

.wrapper {
  grid-template-columns: 2fr 7fr;
  grid-template-areas:
  "header nav"
  "sidebar content"
  "full-width full-width"
  "footer footer"
}



// typography

p::selection {
    background: #f2c85f;
  }

p {
  line-height: $line-height;
  margin: 0 0 16px 0;

}

a {
  color: $link-color;
  &:visited {color: $link-color; }
  &:active {color: $link-color; }
}

// home page

.introduction {
  // max-width: 580px;
  max-width: 500px;
  p {
    font-size: 32px;
    // margin: 0 0 24px 0;
    line-height: 48px;
  }
  img {
    display: inline;
    width: 20px;
  }
  .refresh {
    margin-left: 20px;
    display: inline-block;

  }

  .refresh-button:hover {
      // border-bottom: $underline;
      opacity: 0.7;
  }

  .refresh-text {
    margin-bottom: 0;
    color: $link-color;
    // border-bottom: $underline;
    cursor: pointer;
  }

}

.display-none {
  display: none;
}

.display-inline {
  display: inline;
}

// visuals page

.visuals {
  display: grid;
  max-width: 75%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.25rem;
  align-items: end;

  img {
    width: 100%;
  }
}

ul.visuals {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visuals-intro {
  max-width: 520px;
  background: white;
  padding: 15px;
  margin-bottom: 30px;
}


// sidebar

.side {
  justify-self: end;
  img {
    width: 60px;
    margin-top: 5px;
  }
}

// header

nav {
    display: inline-block;
    margin: 50px 0 30px 0;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline;
    }

    li {
        display: inline-block;
        margin: 0 18px;
    }

    li:first-child {
      margin-left: 0;
    }

    li:last-child {
      margin-right: 0;
    }

    a {
        // margin: 0 24px;
        padding: 1px 0;
        text-decoration: none;
        letter-spacing: 0.5px;
        font-weight: 400;
        &:hover {
          // border-bottom: $underline;
          opacity: 0.7;
        }
    }

    .selected {
      border-bottom: $underline;
    }

}

.main-header {

    margin: 50px 0 30px 0;
    text-align: right;

    h1 {
        font-size: $font-size;
        display: inline-block;
        width: $left-width;
        letter-spacing: 1px;
        margin: 0;
        font-weight: 600;

        a {
          $link-color: #262626;
          padding: 1px;
          text-decoration: none;
          color: $link-color;
          &:hover {
            // border-bottom: $underline;
          }
          &:visited {color: $link-color; }
          &:active {color: $link-color; }
        }
    }
}

// bookshelf

.landscape {
  margin: 0 auto;
  width: 86%;
}

ul.bookshelf {
  list-style: none;
  padding: 0;
  margin: 0;
}


.bookshelf {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 0.25rem;
  align-items: end;

  img {
    display: block;
    width: 100%;
  }
}

// construction

.under-construction {
    p {
      margin-top: 16px;
      font-size: 16px;
      line-height: 24px;
    }
}

// footer

.border {
  display: block;
  height: 2px;
  background: #e5e5e5;
  width: 100%;
}

footer {
  font-size: 18px;
  margin: 0 7%;

  p {
    display: inline;
    margin: 12px 12px 0 0;
  }

  .bottom-nav {
    margin: 24px 0 36px 0;

    li {
      margin: 0 12px;
    }
  }
}
