*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 100% "Soleil", Helvetica, sans-serif;
  font-size: 20px;
  background: #FAFCFB;
  margin: 0 auto; }

@supports not (display: grid) {
  .main-header {
    display: block;
    float: left; }

  .main-nav {
    margin-left: 50px; }

  .side {
    clear: both;
    width: 230px;
    text-align: right;
    float: left;
    overflow: hidden; }

  .content {
    float: left;
    display: block;
    text-align: left;
    margin-left: 50px;
    width: auto; }

  .landscape {
    clear: both; }

  .border {
    clear: both;
    margin-top: 30px; }

  ul.bookshelf {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0 auto; }

  .bookshelf li {
    margin: auto;
    display: inline; }
  .bookshelf img {
    width: 10.7%; } }
.main-header {
  grid-area: header; }

.main-nav {
  grid-area: nav; }

.content {
  grid-area: content; }

.side {
  grid-area: sidebar; }

.main-footer {
  grid-area: footer; }

.landscape {
  grid-area: full-width; }

.wrapper {
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 50px;
  grid-template-areas: "header" "nav" "content" "sidebar" "footer" "full-width"; }

.wrapper {
  grid-template-columns: 2fr 7fr;
  grid-template-areas: "header nav" "sidebar content" "full-width full-width" "footer footer"; }

p::selection {
  background: #f2c85f; }

p {
  line-height: 28px;
  margin: 0 0 16px 0; }

a {
  color: #0e612e; }
  a:visited {
    color: #0e612e; }
  a:active {
    color: #0e612e; }

.introduction {
  max-width: 500px; }
  .introduction p {
    font-size: 32px;
    line-height: 48px; }
  .introduction img {
    display: inline;
    width: 20px; }
  .introduction .refresh {
    margin-left: 20px;
    display: inline-block; }
  .introduction .refresh-button:hover {
    opacity: 0.7; }
  .introduction .refresh-text {
    margin-bottom: 0;
    color: #0e612e;
    cursor: pointer; }

.display-none {
  display: none; }

.display-inline {
  display: inline; }

.visuals {
  display: grid;
  max-width: 75%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.25rem;
  align-items: end; }
  .visuals img {
    width: 100%; }

ul.visuals {
  list-style: none;
  padding: 0;
  margin: 0; }

.visuals-intro {
  max-width: 520px;
  background: white;
  padding: 15px;
  margin-bottom: 30px; }

.side {
  justify-self: end; }
  .side img {
    width: 60px;
    margin-top: 5px; }

nav {
  display: inline-block;
  margin: 50px 0 30px 0; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline; }
  nav li {
    display: inline-block;
    margin: 0 18px; }
  nav li:first-child {
    margin-left: 0; }
  nav li:last-child {
    margin-right: 0; }
  nav a {
    padding: 1px 0;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-weight: 400; }
    nav a:hover {
      opacity: 0.7; }
  nav .selected {
    border-bottom: solid 2px #0e612e; }

.main-header {
  margin: 50px 0 30px 0;
  text-align: right; }
  .main-header h1 {
    font-size: 20px;
    display: inline-block;
    width: 230px;
    letter-spacing: 1px;
    margin: 0;
    font-weight: 600; }
    .main-header h1 a {
      padding: 1px;
      text-decoration: none;
      color: #262626; }
      .main-header h1 a:visited {
        color: #262626; }
      .main-header h1 a:active {
        color: #262626; }

.landscape {
  margin: 0 auto;
  width: 86%; }

ul.bookshelf {
  list-style: none;
  padding: 0;
  margin: 0; }

.bookshelf {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 0.25rem;
  align-items: end; }
  .bookshelf img {
    display: block;
    width: 100%; }

.under-construction p {
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px; }

.border {
  display: block;
  height: 2px;
  background: #e5e5e5;
  width: 100%; }

footer {
  font-size: 18px;
  margin: 0 7%; }
  footer p {
    display: inline;
    margin: 12px 12px 0 0; }
  footer .bottom-nav {
    margin: 24px 0 36px 0; }
    footer .bottom-nav li {
      margin: 0 12px; }

/*# sourceMappingURL=style.css.map */
